<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		title:{
			text: "Sentimental Analysis"
		},
		legend: {
			maxWidth: 350,
			itemWidth: 120
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			legendText: "{indexLabel}",
			dataPoints: [
				{ y: 30, indexLabel: "PlayStation 3" },
				{ y: 10, indexLabel: "Wii" },
				{ y: 10, indexLabel: "Xbox 360" },
				{ y: 15, indexLabel: "Nintendo DS"},
				{ y: 25, indexLabel: "PSP" },
				{ y: 5, indexLabel: "Nintendo 3DS"},
				{ y: 5, indexLabel: "PS Vita"}
			]
		}
		]
	});
	chart.render();
}
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html>